---
layout: main
title: "Launched"
---

{% if paginator.page != 1 %}
  <div class="spacer-vertical-40"></div>
{% endif %}

{% for post in paginator.posts %}
  {% if post == site.posts.first %}
    <div class="post-summary-hero">
      <div class="post-summary-content">
        <h2>
          <a href="{{ post.url }}">
            {{ post.title }}
          </a>
        </h2>
        <p class="post-summary-meta">
          {{ post.date | date: "%B %-d, %Y" }} · {{ post.duration }}

          {% for transcript in site.transcripts %}
              {% if transcript.slug == post.slug %}
                  · <a href="{{ transcript.url }}">Transcript</a>
              {% endif %}
          {% endfor %}
        </p>
        <div class="post-summary-player">
          <img src="{{ post.image }}"/>
          <audio src="{{ post.audioUrl }}" controls></audio>
        </div>
        <p class="post-summary-description">
          {{ post.description }}
        </p>
        <p>
        <a class="post-summary-show-notes" href="{{ post.url }}">
          Show Notes
        </a>
      </div>
    </div>
  {% else %}
    <div class="post-summary">
      <div class="post-summary-content">
        <img src="{{ post.image }}"/>
        <div>
          <h3>
            <a href="{{ post.url }}">
              {{ post.title }}
            </a>
          </h3>
          <p class="post-summary-meta">
            {{ post.date | date: "%B %-d, %Y" }} · {{ post.duration }}

            {% for transcript in site.transcripts %}
              {% if transcript.slug == post.slug %}
                  · <a href="{{ transcript.url }}">Transcript</a>
              {% endif %}
            {% endfor %}
          </p>
          <p class="post-summary-description">
            {{ post.description }}
          <p>
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}

{% include paginationLinks.html %}