body {
    margin: 0;

    font-family: trade-gothic-next, sans-serif;

    a {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
}

nav {
    height: 102px;
    background-color: #1f4373;
    display: flex;
    align-items: center;
    justify-content: end;

    a {
        color: white;
        padding: 20px 20px;
    }

    a:last-of-type {
        margin-right: 30px;
    }

    .current {
        text-decoration: underline;
    }
}

.post-summary-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 770px;
}

.post-summary-hero {
    background-color: #2e62a6;
    color: white;
    margin-bottom: 20px;

    .post-summary-content {
        padding-top: 20px;
        padding-bottom: 20px;

        h2 {
            margin-top: 0px;
            margin-bottom: 5px;
            a {
                font-size: 2rem;
                color: white;
            }
        }

        img {
            margin-right: 20px;
        }

        .post-summary-meta {
            color: #0d2340;
            font-size: .8em;
            margin-bottom: 7px;
            margin-top: 0;
        }

        .post-summary-player {
            background-color: #fff;
            border-radius: 5px;
            padding: 10px;
            display: flex;
            align-items: center;
            margin-bottom: 20px;

            audio {
                flex-grow: 1;
                margin: 0 10px;
            }
        }

        .post-summary-show-notes {
            color: #0d2340;
        }
    }
}

.post-summary {
    .post-summary-content {
        display: flex;
        border-bottom: 1px solid #ddd;
        padding-bottom: 20px;
        margin-bottom: 20px;

        img {
            margin-right: 20px;
        }

        a {
            color: #1f4373;
            font-size: 1.3rem;
        }

        p {
            font-size: .8em;
            margin-bottom: 7px;
            margin-top: 5px;
        }
    }
}