.spacer-vertical-40 { height: 60px; }

body { margin: 0; font-family: trade-gothic-next, sans-serif; background-color: #1f4373; }

body a { text-decoration: none; }

body a:hover { text-decoration: underline; }

body .content { background-color: white; }

body .content .content-centered { padding-top: 60px; margin-left: auto; margin-right: auto; max-width: 770px; padding-left: 20px; padding-right: 20px; padding-bottom: 20px; }

nav { height: 102px; background-color: #1f4373; display: flex; align-items: start; justify-content: end; }

nav .logo { margin-left: 40px; }

nav .logo img { border-radius: 10px; }

nav .links { display: flex; flex-wrap: wrap-reverse; flex-direction: row-reverse; align-items: center; justify-content: flex-start; flex-grow: 1; padding-left: 20px; overflow: hidden; height: 100px; margin-right: 30px; }

nav .links a { color: white; padding-left: 20px; padding-right: 20px; height: 100px; display: flex; align-items: center; }

nav .links .current { text-decoration: underline; }

.post-summary-content { max-width: 770px; margin-left: 20px; margin-right: 20px; }

.post-summary-hero { background-color: #2e62a6; color: white; display: flex; justify-content: center; }

.post-summary-hero .post-summary-content { flex-grow: 1; padding-top: 60px; padding-bottom: 20px; }

.post-summary-hero .post-summary-content h2 { margin-top: 0px; margin-bottom: 5px; }

.post-summary-hero .post-summary-content h2 a { font-size: 2rem; color: white; }

.post-summary-hero .post-summary-content .post-summary-meta { color: #0d2340; font-size: .8em; margin-bottom: 7px; margin-top: 0; }

.post-summary-hero .post-summary-content .post-summary-player { background-color: #fff; border-radius: 5px; padding: 10px; display: flex; align-items: center; margin-bottom: 20px; }

.post-summary-hero .post-summary-content .post-summary-player img { margin-right: 20px; max-width: 100%; width: 90px; height: 90px; }

@media (max-width: 400px) { .post-summary-hero .post-summary-content .post-summary-player img { margin-right: 10px; width: 50px; height: 50px; } }

.post-summary-hero .post-summary-content .post-summary-player audio { flex-grow: 1; margin: 0 10px; }

.post-summary-hero .post-summary-content .post-summary-show-notes { color: #0d2340; }

.post-summary { display: flex; justify-content: center; }

.post-summary .post-summary-content { flex-grow: 1; display: flex; border-bottom: 1px solid #ddd; padding-bottom: 20px; margin-bottom: 20px; }

.post-summary .post-summary-content img { margin-right: 20px; width: 90px; height: 90px; max-width: 100%; }

.post-summary .post-summary-content a { color: #1f4373; font-size: 1.3rem; }

.post-summary .post-summary-content p { font-size: .8em; margin-bottom: 7px; margin-top: 5px; }

.post-summary .post-summary-content:first-of-type { margin-top: 20px; }

.pagination { margin-left: auto; margin-right: auto; max-width: 770px; padding-left: 20px; padding-right: 20px; padding-bottom: 20px; display: flex; justify-content: space-between; align-items: center; }

.pagination .page_number { padding-left: 10px; padding-right: 10px; }

.pagination .next, .pagination .previous { min-width: 70px; padding-top: 8px; padding-bottom: 10px; text-align: center; font-size: 0.7rem; }

.pagination a.next, .pagination a.previous { background-color: #2e62a6; color: white; }

.pagination span.next, .pagination span.previous { background-color: #c8daf1; color: #677180; }

.post-title { margin-top: 0; margin-bottom: 5px; }

.post-meta { font-size: .8em; margin-bottom: 7px; margin-top: 0; }

.post-player { background-color: #ddd; border-radius: 5px; padding: 10px; display: flex; align-items: center; margin-bottom: 20px; }

.post-player img { margin-right: 20px; max-width: 100%; width: 90px; height: 90px; }

@media (max-width: 400px) { .post-player img { margin-right: 10px; width: 50px; height: 50px; } }

.post-player audio { flex-grow: 1; margin: 0 10px; }

.footer { display: flex; flex-direction: column; align-content: center; justify-content: center; padding: 15px 0; background-color: #1f4373; color: #FFFFFF77; }

.footer .links { align-content: center; justify-content: center; display: flex; align-items: center; }

.footer .links a { color: white; padding: 0 10px; }

.footer p { font-size: 0.7rem; text-align: center; }

/*# sourceMappingURL=styles.css.map */