<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta data-react-helmet="true" name="apple-itunes-app" content="app-id=1491582246">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://use.typekit.net/dqq4mih.css">
    <link rel="stylesheet" href="/assets/css/styles.css">

    <!-- generics -->
    <link rel="icon" href="/assets/favicons/launched-favicon-32.png" sizes="32x32">
    <link rel="icon" href="/assets/favicons/launched-favicon-128.png" sizes="128x128">
    <link rel="icon" href="/assets/favicons/launched-favicon-192.png" sizes="192x192">
    <link rel="icon" href="/assets/favicons/launched-favicon-228.png" sizes="228x228">

    <!-- Android -->
    <link rel="shortcut icon" sizes="196x196" href=“/assets/favicons/launched-favicon-196.png">

    <!-- iOS -->
    <link rel="apple-touch-icon" href="/assets/favicons/launched-favicon-152.png" sizes="152x152">
    <link rel="apple-touch-icon" href="/assets/favicons/launched-favicon-180.png" sizes="180x180">

    {% feed_meta %}
    {% seo %}
  </head>
  <body>
    {% include navigation.html %}
      <div class="content">
        {{ content }}
      </div>
    {% include footer.html %}
  </body>
</html>